<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>管理员用户登录</title>
        <link rel="stylesheet" href="./public/css/admin.css" />
    </head>
    <body>
        <div id="box">
            <a href="index.php" style="float: right;">↩返回</a>
            <h1>管理员用户登录</h1>
            <a class="login" href="index.php?p=admin&c=admin&a=register">管理员注册</a>
            <div id="loginbox1">
                <form method="post" action="">
                    用户名:<input name="username" type="text" class="input" />
                    密码:<input name="password" type="password" class="input" />
                    <input type="submit" value="登录" class="button" />
                </form>
            </div>
        </div>
    </body>
</html>