<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>用户注册</title>
        <link rel="stylesheet" href="./public/css/admin.css" />
    </head>
    <body>
        <div id="box">
            <a href="index.php" style="float: right;">↩返回</a>
            <h1>用户注册</h1>
            <div id="loginbox1">
                <form method="post" action="">
                    用户名:<input name="username" type="text" class="input" />
                    <br>
                    密码： <input name="password" type="password" class="input" />
                    <br>
                    <input type="submit" value="注册" class="button" />
                </form>
            </div>
        </div>
    </body>
</html>